<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CountdownTimer" version="2.0.0" targetFramework="monoandroid80" />
  <package id="DotsLoaderView" version="2.0.0" targetFramework="monoandroid71" />
  <package id="Newtonsoft.Json" version="11.0.1-beta1" targetFramework="monoandroid71" />
  <package id="NotificationBadge" version="1.0.0" targetFramework="monoandroid80" />
  <package id="SqlConnection" version="1.0.2" targetFramework="monoandroid80" />
  <package id="System.Net.Http" version="4.3.3" targetFramework="monoandroid71" />
  <package id="Xamarin.Android.Support.Animated.Vector.Drawable" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Compat" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.UI" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Core.Utils" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Fragment" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Media.Compat" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.v7.AppCompat" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Android.Support.Vector.Drawable" version="25.1.1" targetFramework="monoandroid80" />
  <package id="Xamarin.Build.Download" version="0.4.2" targetFramework="monoandroid80" />
</packages>